DATABASE_URL="file:./dev.db"
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxx
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
RCON_HOST=192.168.x.x
RCON_PORT=25575
RCON_PASSWORD=xxx
